@import "../../index.css";
.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: var(--bg-third);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-primary);
  font-weight: bold;
  box-sizing: border-box;
}


.brackets-count {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 14px;
  color: var(--text-secondary);
}